<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Form 1</title>

    <!-- Bootstrap CSS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Project Files -->
    <link rel="stylesheet" type="text/css" href="static/base.css">
    <link rel="stylesheet" type="text/css" href="static/view_advisee.css">

</head>

<body>
     <!--Navbar code-->
    <header>
        <nav class="navbar navbar-expand-md" id="nav">
            <!-- Edit this to inlclude logo link -->
            <a class="navbar-brand" href="/">Logo</a>

            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <!-- Collapsable navbar for buttons -->
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">

                    <!-- All items on the navbar -->
                    <!-- Change links to other webpages -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('home')}}">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/catalog">Catalog</a>
                    </li>

                    {% if 'type' in session %}
                        {% if "Student" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('register', id=session['id'])}}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/student">Student</a>
                            </li>
                            <li class = "nav-item">
                                <a class ="nav-link" href ="/form">Form 1</a>
                            </li>
                            <li class = "nav-item">
                                <a class = "nav-link" href = "/writeThesis">Write Your Thesis</a>
                            </li>
                        {% endif %}

                        {% if "Reviewer" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="/reviewer">Reviewer</a>
                            </li>
                        {% endif %}

                        {% if "Instructor" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="/instructor">Instructor</a>
                            </li>
                        {% endif %}

                        {% if "Advisor" in session["type"]%}
                            <li class ="nav-item">
                                <a class = "nav-link" href="/advisor">Advisor Page</a>
                            </li>
                            <li class = "nav-item">
                                <a class = "nav-link" href="/viewForm">View Form 1</a>
                            </li>
                        {% endif %}

                        {% if "Alumni" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="/alumni">Alumnus</a>
                            </li>
                        {% endif %}

                        {% if "CAC" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="/cac">CAC</a>
                            </li>
                        {% endif %}


                        {% if "GS" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="/grad_secretary">Grade Secretary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/query">Query</a>
                            </li>
                        {% endif %}

                        {% if "Admin" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Administrator</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/create_account">Create Account</a>
                            </li>
                        {% endif %}
                        

                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header><br>

    <div class="container my-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/adminGSViewForm" method="POST">
                    <div class="mb-3">
                        <label for="field_id" class="form-label">Enter Student's ID:</label>
                        <select name="field_id" id="field_id" class="form-select">
                            {% for student in students %}
                                <option value="{{ student['uid'] }}">{{ student['fname'] }} - {{ student['lname'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3 text-center">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </form>
                {% if results %}
                <h3 class="my-4">{{ name }}'s Form1</h3>
                {% endif %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Course Dept</th>
                            <th>Course Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in results %}
                            <tr>
                                <td>{{ item['courseDept'] }}</td>
                                <td>{{ item['courseNum'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
    
                <div class="my-4">
                    {{ message }}
                </div>
            </div>
        </div>
    </div>
    
    <!-- Popper.js and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
               
    </body>
    </html>