<!DOCTYPE html>
<html>
<head>
	<title>Form 1</title>

	<!-- Bootstrap Code -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

	<!-- Project Files -->
	<link rel="stylesheet" href="static/base.css">

	<!-- Font Imports -->
	<link href="https://fonts.googleapis.com/css?family=Cinzel|PT+Serif+Caption" rel="stylesheet">
</head>
<body>
	<!--Navbar code-->
    <header>
        <nav class="navbar navbar-expand-md" id="nav">
            <!-- Edit this to inlclude logo link -->
            <a class="navbar-brand" href="/">Logo</a>

            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <!-- Collapsable navbar for buttons -->
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">

                    <!-- All items on the navbar -->
                    <!-- Change links to other webpages -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('home')}}">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/catalog">Catalog</a>
                    </li>

                    {% if 'type' in session %}
                        {% if "Student" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('register', id=session['id'])}}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/student">Student</a>
                            </li>
                            <li class = "nav-item">
                                <a class ="nav-link" href ="/form">Form 1</a>
                            </li>
                            <li class = "nav-item">
                                <a class = "nav-link" href = "/writeThesis">Write Your Thesis</a>
                            </li>
                        {% endif %}

                        {% if "Reviewer" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="/reviewer">Reviewer</a>
                            </li>
                        {% endif %}

                        {% if "Instructor" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="/instructor">Instructor</a>
                            </li>
                        {% endif %}

                        {% if "Advisor" in session["type"]%}
                            <li class ="nav-item">
                                <a class = "nav-link" href="/advisor">Advisor Page</a>
                            </li>
                            <li class = "nav-item">
                                <a class = "nav-link" href="/viewForm">View Form 1</a>
                            </li>
                        {% endif %}

                        {% if "Alumni" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="/alumni">Alumnus</a>
                            </li>
                        {% endif %}

                        {% if "CAC" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="/cac">CAC</a>
                            </li>
                        {% endif %}


                        {% if "GS" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="/grad_secretary">Grade Secretary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/query">Query</a>
                            </li>
                        {% endif %}

                        {% if "Admin" in session["type"]%}
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Administrator</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/create_account">Create Account</a>
                            </li>
                        {% endif %}
                        

                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header><br>
	<div class="container-fluid">
	<div class="container">
		<form action="/form" method="POST">
			<div class="row g-3">
			  <div class="col">
				  <label for="field_Id" class="form-label">ID:</label>
				  <input type="num" class="form-control" id="field_Id" name="field_Id">
			  </div>
			  <div class="col">
				  <label for="field_fname" class="form-label">First Name:</label>
				  <input type="text" class="form-control" id="field_fname" name="field_fname">
			  </div>
			  <div class="col">
				  <label for="field_lname" class="form-label">Last Name:</label>
				  <input type="text" class="form-control" id="field_lname" name="field_lname">
			  </div>
			</div>
		
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
						<th scope="col">Course Dept</th>
						<th scope="col">Course Number</th>
						</tr>
					</thead>
					<tbody>
						{% for i in range(1, 13) %}
						<tr>
							<td><input type="text" class="form-control" name="class{{i}}dept"></td>
							<td><input type="num" class="form-control" name="class{{i}}num"></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				</div>
				<center><button type="submit" class="btn btn-primary">Submit</button></center>
		</form><br>
	
		{% if message %}
				<div>{{message}}</div>
		{% endif %}
	
  
	</div>
	</div>

    
</body>
</html>